#container {
  width: 100%;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 288px; /* 20% of the current viewport 1440px */
  height: 467px; /* 60% of the current viewport 779px */
  background-color: hsl(0, 0%, 100%);

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}

.content {
  width: 95%;
  height: 95%;
}

img {
  width: 100%;
  border-radius: 5%;
}

h1,
p {
  margin: 15px;
  text-align: center;
  font-family: "Outfit", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 21px;
  color: hsl(218, 44%, 22%);
}

p {
  font-weight: 400;
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}

@media (max-width: 375px) {
  .card {
    width: 80%;
  }
}
